# comment
tempfile.txt
tempfile.2.txt
.gitignore_global
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4
# would log/archive/access.log be ignored? NO!


